body{
    margin:0px;
    background:#B0E0E6;
    height:1000px;
}

a{
    text-decoration: none;
     color:#099;
}
a:hover{
    text-decoration: underline;
}

textarea{
    resize:none;
}
    
html>body .top_menu {
    position: fixed; }

.clear{
    clear:both;
}

.login{
    margin:0 auto;
    width:300px;
    padding:30px;
}

/* menu górne */

.top_menu{
    height: auto;
    width:100%;
    background:#444;
    position:absolute;
    box-shadow: 0px 6px 3px #000;
    
    margin:auto 0px;
    font-size:20px;
    color:#fff;
    z-index: 1;
}


.top_menu ul{
    list-style: none;
}

.top_menu li{
    display:block;
    float:left;
    margin-top:-20px;
    padding:10px 0px 10px 0px;
}

li.option {
    padding:10px 20px 10px 20px;
}

li.option:hover {
    background:#000;
    color:#00cccc;
}

.top_menu{
   box-shadow: 0px 5px 10px 1px #000;
}

.top_menu a{
    color:#fff;
}

/* content */
.content{
    width:1000px;
    height:auto;
    background:#fff;
    margin:50px auto 0 auto;
    background-color: rgba(255,255,255,0.3);
    z-index: -1;
    box-shadow: 0px 0px 10px 1px #000;
    overflow:auto;
}

/* short_box */
.short_box{
    float:left;
    width:300px;
    height:auto;
    padding:10px;
    background:#fff;
    border-radius: 5px;
    margin:25px;
    background-color: rgba(255,255,255,1);
    z-index: 0;
    border: solid 1px #aaa;
}


/* wide box */
.long_box{
    float:right;
    width: 550px;
    height:auto;
    padding:10px;
    background:#fff;
    border-radius: 5px;
    margin:25px;
    background-color: rgba(255,255,255,1);
    z-index: 0;
    border: solid 1px #aaa;
}

/* other */
div.nickname{
    font-weight: bold;
    font-size:20px;
    font-family:Arial, Helvetica;
    float:left;
    padding: 10px 0 0 0;
    margin-left:10px;}

div.nickname a{
    color:#000;
    text-decoration: none;
}

div.nickname a:hover{
    color:#00cccc;
    text-decoration: underline;
}
div.avatar{
    float:left;
}

div.email{
    font-weight: bold;
    font-size:16px;
    font-family:Arial, Helvetica;
    float:left;
    margin-left:10px;
    padding: 10px 0 0 0;
}

div.user_email{
    font-weight: bold;
    font-size:12px;
    font-family:Arial, Helvetica;
    margin-left:10px;
    padding: 10px 0 0 0;
    float:left;
}

div.date{
    font-weight: bold;
    font-size:14px;
    font-family:Arial, Helvetica;
    float:right;
    margin-left:10px; 
    padding: 10px 0 0 0;
}

div.tweet_content{
    width:530px;
    font-size:14px;
    font-family: Arial, Helvetica;
    clear:both;
    padding: 10px 10px 30px 10px;
    
}
div.tweet_form{
    color:#099;
    padding-top:20px;
    clear:both;
    width:300px;
    font-weight: bold;
}
div.tweet{
    border-bottom: 1px #000 solid;
}
div.answer{
    font-size:13px;
    margin-left:10px;
    margin-bottom:10px;
}