{% extends "MyTwitMyTwitBundle::base.html.twig" %}
{% block additional_short_box %}
<script src="/bundles/mytwitmytwit/js/AddTweet.js"></script>
    <div class="tweet_form" ng-controller="addTweetController">        
        {{form_start(form)}}
            {{form_label(form.Tweet)}}<br />
            {{form_widget(form.Tweet, {'attr': {'rows': '[[rows]]', 'style': 'border:[[size]]px solid [[color]]'}}) }}
            <button ng-click="addTweet(content)" ng-disabled="checkButton(content)">Dodaj</button>
            [[remaining_chars]]
        {{form_end(form)}}
    </div>
{% endblock %}
{% block long_box %}
<script src="/bundles/mytwitmytwit/js/SelectTweets.js"></script>
<div class="long_box" ng-controller="allTweetsController" ng-init="getTweets()">
    <div class="tweet" ng-repeat="tweet in tweets | orderBy:'ID':true">
        [[tweet.Answers]]
        <div class="nickname"><a href="/app_dev.php/logged/profil/[[tweet.Author]]">[[tweet.Author]]</a></div>
        <div class="email">[[tweet.Email]]</div>
        <div class="date">[[tweet.Date]]</div>
        <div class="tweet_content" ng-bind-html="tweet.Content"></div>
        <div class="answer" id="[[tweet.Token]]"><a href="" id="[[tweet.ID]]" class="add_answer_form">Odpowiedz</a></div>
    </div>
</div>
{% endblock %}