{% extends "MyTwitMyTwitBundle::base.html.twig" %}


{% block long_box %}
<script src="/bundles/mytwitmytwit/js/SelectTweets.js"></script>
<div class="long_box" ng-controller="allTweetsController" ng-init="getTweets()" ng-bind-html-unsafe="tweet.Content">
    <div class="tweet" ng-repeat="tweet in tweets | orderBy:'ID':true" >
        <div class="nickname">[[tweet.Author]]</div>
        <div class="email">[[tweet.Email]]</div>
        <div class="date">[[tweet.Date]]</div>
        <div class="tweet_content" ng-bind-html="tweet.Content"></div>
    </div>
</div>
{% endblock %}